
@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon/icomoon.eot');
	src:url('../fonts/icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon/icomoon.woff') format('woff'),
		url('../fonts/icomoon/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	padding: 0.75em 1em;
	background-color: #6a61a0;
/*	background-image:linear-gradient(to bottom, #6a61a0, #595287);
*/	border-radius: 4px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	color: #fff;
	font-weight: bold;
	border: 0;
  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  -o-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.btn-alt,
.btn-alt:link,
.btn-alt:visited {
	background-color: #28a090;
/*	background-image: linear-gradient(to bottom, #28a090, #1f7b6f);
*/	  -webkit-transition: background-color 300ms ease-out;
  -moz-transition: background-color 300ms ease-out;
  -o-transition: background-color 300ms ease-out;
  transition: background-color 300ms ease-out;
}

.btn:hover,
.btn:focus {
/*	  background-image:linear-gradient(to bottom, #4a41a0, #373065);
*/
background-color: #373065;

}

.btn-alt:hover,
.btn-alt:focus {
/*		background-image:linear-gradient(to bottom, #06a070, #0f5b4f);
*/
background-color: #0f5b4f;
}

.ease-all{
	-webkit-transition: all 350ms ease-in-out;
		-moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
		transition: all 350ms ease-in-out;
}

input[type=search] {
	float: right;
	padding: 4px;            /* Overridden by padding: 1px; */
	font-family: "Raleway";     /* Overridden by font: -webkit-small-control; */
	border: 2px solid #da8264;  /* Overridden by border: 2px inset; */
	border-radius: 4px;
	background: #f9f8b9;          /* Overridden by background-color: white; */
	clear: both;
}

.cart{
	max-width: 157px;
	width: 14%;
	padding: 8px;
	color: #6a61a0;
	float: right;
	height: 44px;
	font-size: 1em;
	background-color: #f9f8b9;
}

.cart a{
	color: #c7acdb;
	text-decoration: none;
	border-bottom: none;
}

.cart a:hover{
	color: #984860;
}

.cart i{
	padding: 5px;
}

@media screen and (min-width: 30em) {


	input[type=search] {
	float: right;
	padding: 4px;            /* Overridden by padding: 1px; */
	font-family: "Raleway";     /* Overridden by font: -webkit-small-control; */
	border: 2px solid #da8264;  /* Overridden by border: 2px inset; */
	border-radius: 4px;
	background: #f9f8b9;          /* Overridden by background-color: white; */
	clear: both;
	}

}
