.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	padding: 0.75em 1em;
	background-color: #6a61a0;
	background-image:linear-gradient(to bottom, #6a61a0, #595287);
	border-radius: 4px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
	color: #fff;
	font-weight: bold;
	border: 0;
	}

.btn-alt,
.btn-alt:link,
.btn-alt:visited {
	background-color: #28a090;
	background-image: linear-gradient(to bottom, #28a090, #1f7b6f);
}

input[type=search] {
	padding: 10px;            /* Overridden by padding: 1px; */
	font-family: "Raleway";     /* Overridden by font: -webkit-small-control; */
	border: 2px solid #da8264;  /* Overridden by border: 2px inset; */
	border-radius: 4px;
	background: #f9f8b9;          /* Overridden by background-color: white; */
	line-height: 3em;           /* Irrelevant, I guess */
}
