@charset "UTF-8";
/* Responsive Setup */
@-moz-viewport { width: device-width; scale: 1;}
@-ms-viewport { width: device-width; scale: 1;}
@-webkit-viewport { width: device-width; scale: 1;}
@-o-viewport { width: device-width; scale: 1;}
@viewport { width: device-width; scale: 1;}

html{
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	text-size-adjust: 100%;
}

.media {
	overflow: hidden;
}

.media-img {
	float: left;
	margin: 0 10px 0 0;
	display: block;
}

.media-img-reversed {
	float: right;
	margin: 0 0 0 10px;
}

.media-img-stacked {
	float: none;
	margin: 0 0 10px;
}

.media-body {
	overflow: hidden;
}

.media-title {
	margin: 0;

	font-size: 1rem;
	font-weight: bold;
}
