# Accessibility Testing Report

User testing was conducted by Alex Martin on 03/31/14 between the times of 4:00pm and 6:00pm with the following participants:

- Jared Lebel
- Hasan Yavuz
- Sarah Knowles
- Mark Collantes
- Gabriel Mitchell
- Evan Grice

## Tasks

1. Buy Panda Shirt.
2. Use Search Button to find women's product.
3. Find out the price of the Ornate shirt.

---

## Individual Results & Observations

#### Voiceover

### Jared Lebel

- He completed the task as expected…

### Hasan Yavuz

- All is good.

### Sarah Knowles

- Completed tasks as asked
- There's nothing that specifically tells you it's women's product

#### Keyboard

### Mark Collantes

- Completed task as expected
- Only problem is search button highlight and image highlight

### Gabriel Mitchell

- S'all good

### Evan Grice

- Everything went as expected

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Images and search did not show focus rectangle

### Serious, Causes Frustration, May Hinder Completion

- Nothing says its a womens product

### Minor, Annoying, Won’t Hinder Completion
