---
layout: default
title: Home
showbanner: yes
bannertext: Thas' a crazay T-Shirt!
meta: A huge supply of graphic t-shirt prints in any size and colour.
priority: 1.0
---

<div class="gutter">
<h1>Shirtz</h1>
<p>Specialty graphic T-Shirts from a variety of artists.</p>
</div>

<div class="grid promo-group">

<div class="unit unit-s-1 unit-m-1 unit-l-1">
	{% include promo-large.html title="Big Promo" desc="Whale of a deal!" image="mens/t-shirt4.jpg" %}
</div>

	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Say Wha?!" desc="Holy Cool!" image="mens/japan.jpg" %}
	</div>

	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Hell Yeah!" desc="YOLO Dreamin." image="womens/ornate.jpg" %}
	</div>

	<div class="gutter unit unit-s-1 unit-m-1-3 unit-l-1-3">
		{% include promo-small.html title="Pimptastic Panda" desc="What Up Son!" image="mens/panda.jpg" %}
	</div>

</div>
