# User Testing Report

User testing was conducted by Alex Martin on March 24, 2014 between the times of 4:00pm and 5:00pm with the following participants:

- Gabriel Mitchell
- Caterina O'Leary
- Evan Grice

## Tasks

1. Find out the price of all women's products.
2. Purchase the Brooklyn T-Shirt.
3. What is the Japan-o-gram shirt made of?

---

## Individual Results & Observations

### Gabriel Mitchell

- He clicked on the link as expected
- Had trouble clicking the home page (Shirtz word mark does not link to home)
- No questions
- Promos not linked

### Caterina O'Leary

- She clicked on the links as expected
- She had no trouble completing tasks
- She asked if that was all the women's products

### Evan Grice

- He clicked on links as expected
- Promos did not link

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- Promos not linking
- All tasks were completed

### Serious, Causes Frustration, May Hinder Completion

- Search bar does not link to specific products

### Minor, Annoying, Won’t Hinder Completion

- Women's and Men's tabs do not link to a specific category page

