
<!-- 	<div class="media promo-large">
		<section class="slider">
        <div class="flexslider">
          <ul class="slides">
            <li>
  	    	    <img src="images/dog.jpg" />
  	    	    <div class="">
								<h3 class="yotta">{{include.title}}</h2>
							<div class="media-body">
								<p>{{include.desc}}</p>
							</div>
  	    		</li>
  	    		 <li>
  	    	    <img src="images/dog.jpg" />
  	    	    <div class="">
								<h3 class="yotta">{{include.title}}</h2>
							<div class="media-body">
								<p>{{include.desc}}</p>
							</div>
  	    		</li>
  	    		 <li>
  	    	    <img src="images/dog.jpg" />
  	    	    <div class="">
								<h3 class="yotta">{{include.title}}</h2>
							<div class="media-body">
								<p>{{include.desc}}</p>
							</div>
  	    		</li>
          </ul>
        </div>
		</section>
	</div> -->
	<div class="flexslider">
	  <ul class="slides">
	    <li>
	      <img src="images/dog.jpg" />
	    </li>
	    <li>
	      <img src="images/dog.jpg" />
	    </li>
	    <li>
	      <img src="images/dog.jpg" />
	    </li>
	  </ul>
	</div>

