
.cart-table {
  display: table;
  font-size: .75em;
  line-height: 1.33333em;
  margin-bottom: 1em;
  width: 100%; }
  .cart-table .row {
    display: table-row; }
  .cart-table .cell {
    display: table-cell;
    padding: 0.33333em 0;
    text-align: right;
    vertical-align: middle; }
  .cart-table .t-qty,
  .cart-table .t-price,
  .cart-table .t-del {
    padding: 0 0.33333em;
    text-align: center; }
  .cart-table .t-desc {
    text-align: left;
    width: 55%; }
  .cart-table input {
    display: block;
    text-align: center; }
  .cart-table .t-del a {
    font-size: 1.66667em; }
  .cart-table input {
    font-weight: bold;
    margin: 0 auto;
    height: 1.66667em;
    text-align: center;
    width: 1.66667em; }
  .cart-table .t-tot {
    text-align: right;
    background-color: #f9f8b9;
    padding-right: 3px;
  }

@media screen and (min-width: 30em) {
  .cart-table{
    font-size: 1em;
  }
}

/* SEARCH */

.sb-search {
    position: relative;
    margin-top: 20px;
    width: 0%;
    min-width: 60px;
    height: 60px;
    float: right;
    overflow: hidden;
    display: block;

    -webkit-transition: width 0.3s;
    -moz-transition: width 0.3s;
    transition: width 0.3s;

    -webkit-backface-visibility: hidden;
}

.sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: #fff;
    width: 100%;
    height: 60px;
    margin: 0;
    z-index: 10;
    padding: 20px 65px 20px 20px;
    font-family: inherit;
    font-size: 20px;
    color: #2c3e50;
}

input[type="search"].sb-search-input {
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
}

.sb-search-input::-webkit-input-placeholder {
    color: #efb480;
}

.sb-search-input:-moz-placeholder {
    color: #efb480;
}

.sb-search-input::-moz-placeholder {
    color: #efb480;
}

.sb-search-input:-ms-input-placeholder {
    color: #efb480;
}

.sb-icon-search,
.sb-search-submit  {
    width: 60px;
    height: 60px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0;
    margin: 0;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
}

.sb-search-submit {
    background: #fff; /* IE needs this */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
    color: transparent;
    border: none;
    outline: none;
    z-index: -1;
}

.sb-icon-search {
    color: #fff;
    background: #e67e22;
    z-index: 90;
    font-size: 22px;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
}

.sb-icon-search:hover{
    background: #e45e00;
    -webkit-transition: all 350ms ease-in-out;
        -moz-transition: all 350ms ease-in-out;
    -ms-transition: all 350ms ease-in-out;
    -o-transition: all 350ms ease-in-out;
        transition: all 350ms ease-in-out;
}
.sb-icon-search:before {
    content: "\e000";
}

.sb-search.sb-search-open,
.no-js .sb-search {
    width: 100%;
}

.sb-search.sb-search-open .sb-icon-search,
.no-js .sb-search .sb-icon-search {
    background: #da6d0d;
    color: #fff;
    z-index: 11;
}

.sb-search.sb-search-open .sb-search-submit,
.no-js .sb-search .sb-search-submit {
    z-index: 90;
}

/* Medium Screen */
@media screen and (min-width: 30em) {
  a.menu-link {
    display:none;
  }

    .logo:link {
    height: 60px;
    width: 60px;
    background-size:60px;
  }

  .logo-wrapper{
    font-size: 3.5em;
  }

  nav[role=navigation] {
    max-height: none;
  }
  nav[role=navigation] ul {
    margin: 0 0 0 -0.25em;
    border: 0;
  }
/* Horizontal Navigation */
  nav[role=navigation]  li {
    display: inline-block;
    margin: 0 0.25em;
  }
  nav[role=navigation] li a {
    border: 0;
  }

.sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: #fff;
    width: 50%;
    height: 60px;
    margin: 0;
    z-index: 10;
    padding: 20px 65px 20px 20px;
    font-family: inherit;
    font-size: 20px;
    color: #2c3e50;
}

}

@media only screen and (min-width: 50em) {

.sb-search-input {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    outline: none;
    background: #fff;
    width: 30%;
    height: 60px;
    margin: 0;
    z-index: 10;
    padding: 20px 65px 20px 20px;
    font-family: inherit;
    font-size: 20px;
    color: #2c3e50;
}
}
