.product {
	background-color: rgba(230,197,137,.2);
	padding: 1em;
	border-radius: 6px;
	width: auto;
	overflow:hidden;
}



.cart-table {
  display: table;
  font-size: 0.75em;
  line-height: 1.33333em;
  margin-bottom: 1em;
  width: 100%; }
  .cart-table .row {
    display: table-row; }
  .cart-table .cell {
    display: table-cell;
    padding: 0.33333em 0;
    text-align: right;
    vertical-align: middle; }
  .cart-table .t-qty,
  .cart-table .t-price,
  .cart-table .t-del {
    padding: 0 0.33333em;
    text-align: center; }
  .cart-table .t-desc {
    text-align: left;
    width: 55%; }
  .cart-table input {
    display: block;
    text-align: center; }
  .cart-table .t-del a {
    font-size: 1.66667em; }
  .cart-table input {
    font-weight: bold;
    margin: 0 auto;
    height: 1.66667em;
    text-align: center;
    width: 1.66667em; }
