/*
  Colour Palette
  - Dark green: #060 - rgb(0, 100, 0)
  - Dark red: #600 - rgb(100, 0, 0)
  - Teal: #3fcd75 - rgb(63, 205, 117)
  - Dark Teal: #3FCD75 - rgb(63, 205, 117)
  - Dark Beige: #E0C87E - rgb(224, 200, 126)
  - Beige: #F7E4BE - rgb(247, 228, 190)
  - Light Beige: #EFE5C4 - rgb(239, 229, 196)
  - Purple: #775b80 - rgb(119, 91, 128)
  - Orange: #d66b3d - rgb(214, 107, 61)
  - Brown: #a26047 - rgb(162, 96, 71)
  - Light Orange: #e7a560 - rgb(231, 165, 96)

 */

html {
  font: normal 100%/1.25 Times ,serif; /* 16px/20px */
  background: #ddc98b; /* Old browsers */
  background: -moz-linear-gradient(top, #ddc98b 0%, #f7e4be 28%, #efe5c4 51%, #f7e4be 74%, #ddc98b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ddc98b), color-stop(28%,#f7e4be), color-stop(51%,#efe5c4), color-stop(74%,#f7e4be), color-stop(100%,#ddc98b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ddc98b 0%,#f7e4be 28%,#efe5c4 51%,#f7e4be 74%,#ddc98b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ddc98b 0%,#f7e4be 28%,#efe5c4 51%,#f7e4be 74%,#ddc98b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ddc98b 0%,#f7e4be 28%,#efe5c4 51%,#f7e4be 74%,#ddc98b 100%); /* IE10+ */
  background: linear-gradient(to bottom, #ddc98b 0%,#f7e4be 28%,#efe5c4 51%,#f7e4be 74%,#ddc98b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ddc98b', endColorstr='#ddc98b',GradientType=0 ); /* IE6-9 */
}

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl,
blockquote, table, hr {
  margin: 1.25rem 1.25rem 1.953rem;
}

h1, h2, h3, h4, h5, h6,
th {
  font: normal 100%/1.25 'Oswald', sans-serif;
}

a, em, strong, i, b, small, s, cite, q, dfn, abbr, time, sup, sub, mark, del, ins, data {
  margin: 0 0 1.25rem;
}

th, td {
  margin: 1.25rem 1.5rem 1.125rem;
  padding: 1.25rem 1.25rem 0;
}

caption {
  margin: 0 0 1.25rem;
}

.yotta {
  font-size: 4.7684rem;
  line-height: 1.0486;
}

.zetta {
  font-size: 3.8147rem;
  line-height: 1.3107;
}

h1, .exa {
  font-size: 3.0518rem;
  line-height: 1.2288;
}

h2, .peta {
  font-size: 2.4414rem;
  line-height: 1.0240;
}

h3, .tera {
  font-size: 1.9531rem;
  line-height: 1.2800;
}

h4, .giga {
  font-size: 1.5625rem;
  line-height: 1.6000;
}

h5, .mega {
  font-size: 1.2500rem;
  line-height: 1.0000;
}

h6, .kilo {
  font-size: 1.0000rem;
  line-height: 1.2500;
}

small, .milli {
  font-size: 0.8000rem;
  line-height: 1.5625;
}

.micro {
  font-size: 0.6400rem;
  line-height: 1.9531;
}

::selection {
  background-color: rgb(214, 107, 61);
  color: rgb(231, 165, 96);
}

a,
a:link {
  color: rgb(119, 91, 128);
  text-decoration: none;
  border-bottom: 0.1em solid rgba(119, 91, 128, 0.5);
  transition: all 200ms linear;
}

a:visited {
  color: #696;
  border-bottom-color: rgba(50, 150, 50, 0.5);
}

a:hover,
a:focus,
a:active {
  color: rgb(63, 205, 117);
  border-bottom-color: rgb(63, 205, 117);
}

ul {
  list-style-type: none;
}

ul li{
  position: relative;
}

ul li:before {
  content: "➸";
  color: #666;
  position: absolute;
  left: -1.2em;
}
